.card {
    width: 140px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;         
    flex-direction: column; 
    position: relative;
    margin: 0px;
    
}

.card--image {
    width: 60%;
    border-radius: 7px;
    
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  margin-left: -30%;
  margin-right: 30%;
}

.cont{
    width: 800px;
    height: auto;
    padding: 10px;
}


@media screen and (max-width: 760px) {
    .cont{
        width: 400px;
        height: auto;
        padding: 2px;
    }
    
    
}
.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center ;
    align-items: center;
    background: linear-gradient(90deg, #5b5177 0%, #c77373 100%);
    transition: opacity .4s ease, visibilty .4s ease, trasnform .5 ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;

}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
    
}

.model.open svg{
    position: fixed;
    right: 10px;
    top: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    border: 10px black;
}
.results{
    background-color: white;
    color: white;
    align-items: center;
}

.resize{
    font-size: '50px';
}

text.list{
    font-size: '50px';
}

.change {
    width: 48px;
    height: 48px;
    position: absolute; 
    top: 2%; 
    right: 2%; 
}

.change-no {
    background: url("./img/white_check.jpg") no-repeat;
}

.change-yes {
    background: url("./img/check.jpg") no-repeat;
}


/* .btn {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
.btn2 {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(238, 228, 228, 0);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.btn:hover {
background-color: black;

} */
.cont {
    position: relative;
    width: 50%;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;         
    flex-direction: column; 
    position: relative;
    margin: 2px;
  }
.cont .btn {
    top: 40%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(138, 136, 136, 0.801);
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 /* .cont .btn:hover {
    background-color: black;
  } */
  .cont .btn2 {
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #48e45d;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }